#view{
    display: none;
}
* {

    padding: 0; 
    border: 0; 
    outline: none;
}


textarea {
    background:none;
    border:1px solid #f8f5f1;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0px 0px 1px #726959;
    -webkit-box-shadow:  inset 0px 0px 1px #b3a895; 
    -o-box-shadow: inset 0px 0px 1px #b3a895;
    -ms-box-shadow: inset 0px 0px 1px #b3a895;
    box-shadow: inset 0px 0px 1px #b3a895;

    font: 1em normal normal 'Lato',Arial,Helvetica,"Liberation Sans";

}	

#view { 
	/* padding + border = 3px */
    border: 1px solid #d9d6d9;
    height: 80px; 

}

#area {
    border: 2px groove #d3d0d3;
    padding: 0px;
    display:none;
}

#area:focus {
  /* Remove focus border in Safari */
  outline: none; 
}

textarea:focus, 
input[type=text]:focus {
    background:rgba(255,255,255,.35);
}
